<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.komputerkit.pointofsaletokopluskeuangan">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivitySplash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityMaster"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityLaporan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityTransaksi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityUtility"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityIdentitas"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ActivityKategori"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityTambahKategori"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityBarang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityTambahBarang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitySatuan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityTambahSatuan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityPelanggan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityTambahPelanggan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityPenjualan"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ActivityLaporanMaster"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityLaporanPenjualan"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ActivityLaporanTransaksi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityCetak"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityRestore"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityBackup"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityReturn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityPenjualanCari"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityBayar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityCetakCari"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityReturnProses"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityExportExcel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityCetak2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityMenuUtama"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityTentang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityIntro"
            android:screenOrientation="portrait" />
        <activity android:name=".ActivityCetakCari2"
            android:screenOrientation="portrait" />
        <activity android:name=".ActivityLaporanKeuangan"
            android:screenOrientation="portrait" />
        <activity android:name=".ActivityTambahPemasukan"
            android:screenOrientation="portrait" />
        <activity android:name=".ActivityTambahPengeluaran"
            android:screenOrientation="portrait" />
    </application>

</manifest>